<h1>Kraftprotz</h1>

<p>Kraftprotz is an English language corpus builder.</p>

<p>More information can be found <a href="https://github.com/storskegg/kraftprotz">here</a>.</p>

<div>
  <ul>
    <li><a href="/media/pdf/small.pdf">small.pdf</a></li>
    <li><a href="/media/pdf/nietzsche.pdf">nietzsche.pdf</a></li>
  </ul>
</div>
